# Created by .gitignore support plugin (hsz.mobi)
*.pyc
conf.cfg
.idea
mobile/CleverHome/.classpath
mobile/CleverHome/.project
mobile/CleverHome/project.properties
mobile/CleverHome/.settings
mobile/CleverHome/gen
mobile/CleverHome/bin
mobile/CleverHome/proguard-project.txt
*.class
*.jar
logs
#site/raspberry_site/db/