{% extends "base.html" %}

{% block title %}
	Clever Home | Main page
{% endblock %}

{% block head_data %}
	{% load staticfiles %}
	<link href="{% static "styles/style_index.css" %}" rel="stylesheet" type="text/css">
    <!--[if IE]><script type="text/javascript" src="{% static "js/jquery1.3.1/jquery.min.js" %}"></script><![endif]-->
    <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{% static "js/excanvas.js" %}"></script><![endif]-->
    <script class="include" type="text/javascript" src="{% static "js/jquery1.9.1/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jqplot.min.js" %}"></script>
{% endblock %}

{% block content %}
    <div id="con"></div>
	<h1>Домашний сайт</h1>
	<p>Привет! Это домашний сайт, для отслеживания состояний компьютера Raspberry Pi B+, который служит в качестве
	сервера управления умным домом.</p>

    <h2>Информация об операционной системе:</h2>
    <h2>Использовние GPIO</h2>
    <div id="GPIO">
        <table>
            <tr>
                <td><div class="GPIO_power3"></div>1 - 3.3V</td>
                <td><div class="GPIO_power5"></div>2 - 5V</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_3 }}"></div>3 [2 GPIO] - I2C Interface (I2C1_SDA)</td>
                <td><div class="GPIO_power5"></div>4 - 5V</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_5 }}"></div>5 [3 GPIO] - I2C Interface (I2C1_SCL)</td>
                <td><div class="GPIO_ground"></div>6 - Ground</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_7 }}"></div>7 [4 GPIO] - General Input/Output (GPCLK0)</td>
                <td><div class="GPIO_{{ gpio_8 }}"></div>8 [14 GPIO] - UART Interface (UART_TXD)</td>
            </tr>
            <tr>
                <td><div class="GPIO_ground"></div>9 - Ground</td>
                <td><div class="GPIO_{{ gpio_10 }}"></div>10 [15 GPIO] - UART Interface (UART_RXD)</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_11 }}"></div>11 [17 GPIO] - General Input/Output</td>
                <td><div class="GPIO_{{ gpio_12 }}"></div>12 [18 GPIO] - General Input/Output</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_13 }}"></div>13 [27 GPIO] - General Input/Output</td>
                <td><div class="GPIO_ground"></div>14 - Ground</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_15 }}"></div>15 [22 GPIO] - General Input/Output</td>
                <td><div class="GPIO_{{ gpio_16 }}"></div>16 [23 GPIO] - General Input/Output</td>
            </tr>
            <tr>
                <td><div class="GPIO_power3"></div>17 - 3.3V</td>
                <td><div class="GPIO_{{ gpio_18 }}"></div>18 [24 GPIO] - General Input/Output</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_19 }}"></div>19 [10 GPIO] - SPI Interface (SPI_MOSI)</td>
                <td><div class="GPIO_ground"></div>20 - Ground</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_21 }}"></div>21 [9 GPIO] - SPI Interface (SPI_MISO)</td>
                <td><div class="GPIO_{{ gpio_22 }}"></div>22 [25 GPIO] - General Input/Output</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_23 }}"></div>23 [11 GPIO] - SPI Interface (SPI_SCLK)</td>
                <td><div class="GPIO_{{ gpio_24 }}"></div>24 [8 GPIO] - SPI Interface (SPI_CE0)</td>
            </tr>
            <tr>
                <td><div class="GPIO_ground"></div>25 - Ground</td>
                <td><div class="GPIO_{{ gpio_26 }}"></div>26 [7 GPIO] - SPI Interface (SPI_CE1)</td>
            </tr>
            <tr>
                <td><div class="GPIO_id_eeprom"></div>27 - ID EEPROM Interface (ID_SD)</td>
                <td><div class="GPIO_id_eeprom"></div>28 - ID EEPROM Interface (ID_SC)</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_29 }}"></div>29 [5 GPIO] - General Input/Output</td>
                <td><div class="GPIO_ground"></div>30 - Ground</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_31 }}"></div>31 [6 GPIO] - General Input/Output</td>
                <td><div class="GPIO_{{ gpio_32 }}"></div>32 [12 GPIO] - General Input/Output</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_33 }}"></div>33 [13 GPIO] - General Input/Output</td>
                <td><div class="GPIO_ground"></div>34 - Ground</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_35 }}"></div>35 [19 GPIO] - General Input/Output</td>
                <td><div class="GPIO_{{ gpio_36 }}"></div>36 [16 GPIO] - General Input/Output</td>
            </tr>
            <tr>
                <td><div class="GPIO_{{ gpio_37 }}"></div>37 [26 GPIO] - General Input/Output</td>
                <td><div class="GPIO_{{ gpio_38 }}"></div>38 [20 GPIO] - General Input/Output</td>
            </tr>
            <tr>
                <td><div class="GPIO_ground"></div>39 - Ground</td>
                <td><div class="GPIO_{{ gpio_40 }}"></div>40 [21 GPIO] - General Input/Output</td>
            </tr>
        </table>
    </div>
	<p>График температуры процессора:</p>
    <div id="chart2" style="height:300px; width:500px;"></div>
    <div id="page"></div>

    <script class="code" type="text/javascript">

    function draw_graph() {
        var arr = {{ proc_temp }};
        //var ticks = {{ data_temp }};
        //[arr, [3,7,9,1,5,3,8,2,5]]
        var plot2 = $.jqplot ('chart2', [arr], {
              // Give the plot a title.
              title: 'Raspberry process temperature plot',
              // You can specify options for all axes on the plot at once with
              // the axesDefaults object.  Here, we're using a canvas renderer
              // to draw the axis label which allows rotated text.
              axesDefaults: {
                labelRenderer: $.jqplot.CanvasAxisLabelRenderer
              },
               series: [
                {label: 'Processor temperature'},
               ],
              // Likewise, seriesDefaults specifies default options for all
              // series in a plot.  Options specified in seriesDefaults or
              // axesDefaults can be overridden by individual series or
              // axes options.
              // Here we turn on smoothing for the line.
              seriesDefaults: {
                  rendererOptions: {
                      smooth: true
                  }
              },
              // An axes object holds options for all axes.
              // Allowable axes are xaxis, x2axis, yaxis, y2axis, y3axis, ...
              // Up to 9 y axes are supported.
              axes: {
                // options for each axis are specified in seperate option objects.
                xaxis: {
                  label: "Time",
                  //ticks: ticks,
                  //ticks: ticks,
                  // Turn off "padding".  This will allow data point to lie on the
                  // edges of the grid.  Default padding is 1.2 and will keep all
                  // points inside the bounds of the grid.
                  pad: 0
                },
                yaxis: {
                  label: "Process Temperarute"
                }
              }
            });
    }

    $(document).ready(function(){
        draw_graph();
        $('#page').load('http://192.168.1.4:8200/');
    });


</script>

{% endblock %}
